EXPO_PUBLIC_API_BASE_URL=https://api.healthclan.live/api/v1
EXPO_PUBLIC_API_FALLBACK_BASE_URL=http://104.28.155.127:5004/api/v1
EXPO_PUBLIC_APP_NAME=HealthClan
EXPO_PUBLIC_API_TIMEOUT_MS=20000
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
